{% extends "./layout.html" %}
{% load static %}

              {% block body %}


 <div class="flyer">
        <div class="header">
            
            <h1>Valuation Excellence, Everytime!</h1>
            
         


        </div>
        <div class="content">
            <div class="section trainee-program">
                            <div class="section services">
                <h3>Our Services</h3>
                <h4>For Job Seekers</h4>
                <p>Create an online portfolio with  detailed profiles, CVs, cover letters, and certificates. Easily share your custom profile URL with recruiters while maintaining privacy controls.</p>
                <h4>For Recruiters</h4>
                <p>Search and filter candidate profiles, view and download all necessary documents, and communicate directly with candidates, all in one streamlined platform.</p>
                
            </div>
        </div>
        <div class="footer">
            <h4>Get in Touch</h4>
            <p>+675 7208 8203</p>
            <p>+675 4302 234</p>
            <p><a href="mailto:samantha@buysmartpropertyreports.com">info@ariaconsultants.com.pg</a></p>
            <p>PO Box 3144, Lae, Papua New Guinea</p>
        </div>
    </div>
              {% endblock %}
 