{% extends "layout.html" %}
{% load static %}

              {% block body %}


 <div class="flyer">
        <div class="header">
            
            <h1>Become a Member Today!</h1>
            
         </div>
        
        <div class="footer">
            <h4>Get in Touch</h4>
            <p>+675 7208 8203</p>
            <p>+675 4302 234</p>
            <p><a href="mailto:samantha@buysmartpropertyreports.com">info@ariaconsultants.com.pg</a></p>
            <p>PO Box 3144, Lae, Papua New Guinea</p>
        </div>
    </div>
              {% endblock %}
 